$dark: #121212;
$navbar-dark: #181818;
$light-gray: #282828;
$button-blue: #007fff;
$primary-text: #ffffff;
$secondary-text: #b3b3b3;
$lighter-gray: #e3e3e3;
$darker-gray: #3e4042;
$blue-grotto: #0e86d4;
$light-blue: #aed8e6;
