@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$dark: #121212;
$navbar-dark: #181818;
$light-gray: #282828;
$button-blue: #007fff;
$primary-text: #ffffff;
$secondary-text: #b3b3b3;
$lighter-gray: #e3e3e3;
$darker-gray: #3e4042;
$darkest-gray: #383838;
$blue-grotto: #0e86d4;
$light-blue: #aed8e6;
$dark-blue: #338fff;
$red: #e72f2f;

$font-family: 'Roboto', sans-serif;
$border-radius: 0.75rem;
