.Body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 24px 7.5%;
}

.NavSection {
  width: 22%;
}

.FeedSection {
  width: 52%;
}

.PeopleSection {
  width: 23%;
}
