.Body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 24px 24px;
}

.NavSection {
  width: 21%;
}

.FeedSection {
  width: 50%;
}

.PeopleSection {
  width: 24%;
}
