.Body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 24px 24px;
}

.NavSection {
  width: 23%;
}

.FeedSection {
  width: 45%;
}

.PeopleSection {
  width: 27%;
}
