@import '../../constants/constants.scss';

.Create__Post {
  padding: 16px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  border-radius: $border-radius;
  margin-bottom: 24px;
  background-color: $light-gray;
}

.Create__Post__TextArea {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.Create__Post__Logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 8px;

  > img {
    width: 100%;
    height: auto;
  }
}

.Create__Post__Form {
  flex-grow: 3;
  display: flex;
  flex-direction: column;

  .Create__Post__TextField {
    flex: 1;
    margin-right: 8px;

    > textarea {
      justify-content: stretch;
      align-items: stretch;
      font-family: $font-family;
      resize: none;
      overflow: hidden;
      width: 100%;
      font-size: 0.9rem;
      caret-color: $primary-text;
      background-color: $light-gray;
      color: $secondary-text;
      border: none;
      outline: none;
      box-sizing: border-box;
      padding: 8px;
    }
  }

  .Create__Post__Button {
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      background-color: rgba($color: $button-blue, $alpha: 1);
      border: none;
      color: $primary-text;
      padding: 10px 16px;
      text-align: center;
      text-decoration: none;
      font-size: 0.9rem;
      border-radius: $border-radius;
      cursor: pointer;
      font-weight: 600;

      > svg {
        margin-right: 4px;
      }
    }
  }
}

.Create__Post__PrimaryRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.Create__Post__SecondaryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Create__Post__FileImage {
  flex: 1;
  color: $primary-text;
}
