@import '../../constants/constants.scss';

.PeopleSection__Wrapper {
  position: sticky;
  top: 92px;
  padding-right: 24px;
}

.PeopleSection__Requests {
  color: $primary-text;
  font-size: 0.9rem;
}

.PeopleSection__Requests-empty {
  font-size: 0.8rem;
  margin: 8px 0;
}
